div.nav-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 75% 25%;
    height: auto;
    background-color: #232323;
}
div.links {
    background-color: #232323;
    height: 100%;
    list-style-type: none;
}
ul.links {
    list-style-type: none;
    display: flex;
    margin-top: 6vh;
    margin-left: 10vw;
    background-color: #232323;
    padding-inline-start: 0;
}
.link {
    background-color: #232323;
    margin-right: 10%;
    text-align: left;
    list-style-position: inside;
    color: white;
}
.link button {
    background-size: 0 10px;
    text-align: left;
    padding-left: 0;
    background-color: #232323;
    letter-spacing: 1px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    border: none;
    color: white;
    transition: color 0.5s;
    text-decoration: none;
    outline: none;
}
.link button:hover {
    color: #a3a3a3;
}
.link button:active {
    color: #ffffff;
    transform: translateY(2px);
}
.collapse {
    display: none;
}
.logo {
    background-color: #232323;
    height: 90px;
    padding-right: 10vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.logo > svg {
    float: right;
    padding-right: 0;
    width: auto;
    height: 100%;
    fill: #333333;
    transition: fill 0.3s;
}
.logo > svg:hover {
    fill: #555555;
}
.logo > svg:active {
    fill: #d4d4d4;
}
.logo-path {
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
}
@media only screen and (max-width: 600px) {
    .link button {
        flex-wrap: wrap;
        
    }


    ul.links {
        flex-wrap: wrap;
        margin-top: 1vh;
    }
    div.nav-bar {
        grid-template-columns: 40% 60%;
    }
  }